{% extends 'base.html' %}
{% block scripts %}
{% load static %}
	<script src="{% static 'pages/js/main.js' %}"></script>
{% endblock %}

{% block main_content %}

<body background="{% static 'boats/images/Screen Shot 2021-04-14 at 12.05.10 AM.png' %}">
	<div class='container fullHeight h-100'>
		<div class='row align-items-center justify-content-center text-left h-50'>
			<div class='col-sm-10 align-items-center'>
				<h1 style="font-size: 75px; color: rgb(87, 81, 81); font-weight: bold;">Get on the Water!</h1>
			</div>
		</div>
	</div>

	<div class='container'>
		<div class='row'>
			<div class='col-12'>
				<h2>
					Rent a boat buddy.
				</h2>	
			</div>	
		</div>	
		<div class='row'>
			<div class='col-4'>
				<div class='row'>
					<div class='col-6'>
						<button>image here</button>	
					</div>

					<div class='col-6'>
						<div class='row d-flex flex-column'>
							<div class='col-6 mb-3'>
								fancy boat title
							</div>
							<div class='col-6'>
								call to action
							</div>
						</div>	
					</div>	
				</div>	
			</div>	
			<div class='col-4'>
				
			</div>	
			<div class='col-4'>
				
			</div>	
		</div>	
	</div>

</body>

<div>

</div>

{% endblock %}

