{% extends 'base.html' %}
{% load static %}
{% block stylesheets %}
<link rel='stylesheet' href="{% static 'pages/css/main.css' %}">
{% endblock %}

{% block main_content %}

<body>
	<div class='container-fluid h-100' style="background-image: url({% static 'pages/images/Screen Shot 2021-04-14 at 12.05.10 AM.png' %})">
		<div class='row align-items-center justify-content-center text-md-left text-center fullHeight h-100'>
			<div class='col-sm-10 align-items-center'>
				<h1 class="animated animatedFadeInUp fadeInUp" style="font-size: 75px; color: rgb(87, 81, 81); font-weight: bold;">The 2021 Season<br>is HERE!</h1>
			</div>
		</div>
	</div>

	<div class='container-fluid container-dark'>
		<div class='row feature-text'>
			<div class="col-12 d-flex flex-column align-items-center justify-content-center">
				<span class="feature-text text-center animated animatedFadeInUp">Welcome to your <span class="accent">new</span> Kennisis Lake Marina</span>
				<a class="btn btn-light animated animatedFadeInUp">See What's New</a>
			</div>
		</div>
	</div>
	<div class='container'>
		<div class='row section-header'>
			<div class='col-12'>
				<h2>
					Book your rental <span class="accent">today</span>
				</h2>	
			</div>	
		</div>	
		<div class='row'>
			{% for boat in boats %}
			<div class='col-md-4 col-12 p-0 boat-feature animated animatedFadeInUp'>
				<div class="image-wrapper">
					<img class="boat-img-button h-100 mx-auto d-block" src='{{boat.image.url}}'>
				</div>

				<div class='boat-detail-wrapper accent-bg'>
					<div class="container-fluid h-100 d-flex flex-column justify-content-center align-items-center">
						<div class='row'>
						<span class='boat-name'>{{boat.name}}</span>
					</div>
					<div class="row">
						<a class="btn btn-light">Book Now</a>
					</div>
					</div>
				</div>
			</div>	
			{% endfor %}
		</div>	
	</div>

</body>

<div>

</div>

{% endblock %}

