<!-- Footer -->
<footer class="mt-4 bg-light text-lg-start">
	<!-- Grid container -->
	<div class="container p-3">

	  <div class="text-center mt-4" style="color: rgb(180, 181, 182);">
			Thanks for visiting! &#128515;
	  </div>

	  <hr style="width:50%">

	  <!--Grid row-->

		<!--Grid column-->
		<div class="col-lg-12 m-3" >
		  <h5 class="text">About us</h5>
		  <p>
			Kennisis Lake Marina is the heart of the lake. It's a place for cottagers to come and stop by and get an ice cream cone with their family, or fill up their boats with gas to enjoy a fun-filled day on the lake. If you're renting a cottage on a lake, we provide boat rentals to make your vacation up north that much more enjoyable. We also offer marine services. If your boat breaks down or needs repairs, we've got you covered, and there's no hassle of having to take it too far from the lake. 
		  </p>
		</div>
		<!--Grid column-->
  
		<!--Grid column-->
		<!--
			space out the links in their own col each, the stack them when screen gets smaller
		-->

		<div class='col-1 m-3'>
			<h5 class="text">Links </h5>
		</div>
		
		<div class="row ml-3 mr-3 mb-3"> 

			<div class='col-12 col-md-6 col-lg-1'>
				<a href="{% url 'store' %}" class="text-dark">Store</a>
			</div>

			<div class='col-12 col-md-6 col-lg-1'>
				<a href="{% url 'food' %}" class="text-dark">Food</a>
			</div>

			<div class='col-12 col-md-6 col-lg-1'>
				<a href="{% url 'services' %}" class="text-dark">Services</a>
			</div>

			<div class='col-12 col-md-6 col-lg-1'>
				<a href="{% url 'contact' %}" class="text-dark">Contact</a>
			</div>

			<div class='col-12 col-md-6 col-lg-1'>
				<a href="{% url 'events' %}" class="text-dark">Events</a>
			</div>

		</div>

		<!--Grid column-->
	  </div>
	  <!--Grid row-->

	<!-- Grid container -->
  
	<!-- Copyright -->
	<div class="text-center p-3" style="background-color: rgba(230, 230, 230, 0.65);">
	  © 2021 
	  <a class="text-dark">Kennisis Lake Marina</a>
	</div>
	<!-- Copyright -->
</footer>
<!-- Footer --> 