<header class="header-top-wrapper">
  <div class="container">
    <div class="header-top">
      <div class="header-left">
        <span><a class="underline" href="tel:7057542352">+1 (705)-754-2352</a></span>
        <span>Today's Hours: 9am-5pm</span>
      </div>
      <div class="header-right">
        {% if user.is_authenticated %}
        <a href="{% url 'profile' form_url='None' %}" class="underline">MY PROFILE</a>
        <a href="{% url 'logout' %}" class="underline">LOGOUT</a>
        {% else %}
        <a href="{% url 'login' %}" class="underline">LOGIN</a>
        <a href="{% url 'signup' %}" class="underline">REGISTER</a>
        {% endif %}
      </div>
    </div>
  </div>
  <nav class="navbar fixed-top navbar-expand-md">
    {% load static %}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="mx-auto order-1 h-100 d-md-none" href="#"><img class="navbar-brand mobile" src="{% static '/images/logo-dark.svg' %}"></img></div>
    <div class="collapse navbar-collapse order-2" id="navbarNavAltMarkup">
      <div class="navbar-nav w-100 order-1 order-md-0">
        <a class="nav-item underline nav-link ml-md-auto" href="{% url 'main' %}">Home <span class="sr-only">(current)</span></a>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Rentals
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'water_activities' %}">View Rentals</a>
            <a class="dropdown-item" href="{% url 'bookings' %}">My Bookings</a>
          </div>
        </li>
        <a class="nav-item underline nav-link" href="{% url 'store' %}">Store</a>
        <a class="nav-item underline nav-link" href="{% url 'food' %}">Eat</a>
      </div>
      <div class="mx-auto order-md-1 order-0 h-100 d-none d-md-block" href="#"><img class="navbar-brand" src="{% static '/images/logo-dark.svg' %}"></img></div>
      <div class="navbar-nav w-100 order-3">
        <a class="nav-item underline nav-link" href="{% url 'services' %}">Services</a>
        <a class="nav-item underline nav-link" href="{% url 'events' %}">Events</a>
        <a class="nav-item underline nav-link" href="{% url 'contact' %}">Contact</a>
        {% if user.is_staff %}
        <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle btn " id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Rental Management
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'upcoming_rentals_view' %}">Upcoming Rentals</a>
            <a class="dropdown-item" href="{% url 'calendar' %}">Manage Rental Bookings</a>
            <a class="dropdown-item" href="{% url 'manage_fleet' %}">Manage Fleet</a>
          </div>
        </li>
        {% endif %}
      </div>
    </div>
  </nav>
</header>