{% extends "base.html" %}
{% load static %}

{% block main_content %}

<div class="container top-container">
  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}

  <div class='container fullHeight h-100' style="padding-top: 150px; padding-bottom: 200px;">
		<div class='row align-items-center justify-content-center text-left h-50'>
			<div class='col-lg-3 align-self-end'>
        <form method="post" action="{% url 'login' %}">
          {% csrf_token %}
          <table>
            <tr>
              <td style="padding-right: 15px; padding-bottom: 15px;">{{ form.username.label_tag }}</td>
              <td style="padding-right: 15px; padding-bottom: 15px;">{{ form.username }}</td>
            </tr>
            <tr >
              <td style="padding-right: 15px; padding-bottom: 15px;">{{ form.password.label_tag }}</td>
              <td style="padding-right: 15px; padding-bottom: 15px;">{{ form.password }}</td>
            </tr>
          </table>

          <input type="submit" value="login"/>
          <input type="hidden" name="next" value="{{ next }}" />
        </form>
      
        {# Assumes you setup the password_reset view in your URLconf #}
        <p style="padding-top: 20px;"><a href="{% url 'password_reset' %}" >Forgot password?</a></p>
			</div>
		</div>
	</div>

 
</div>
{% endblock %}