.container-dark {
    background-color: #464646;
}

.row.feature-text {
    padding: 100px 0px 100px 0px;
}

.boat-feature{
    height: 400px;
}

.image-wrapper {
    overflow: hidden;
    height: 100%;
}

.boat-detail-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .25s ease;
}

.boat-feature:hover .boat-detail-wrapper {
    opacity: 1;
}

.boat-name {
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}


span.feature-text {
    color: white;
    font-weight: bolder;
    font-size: 30px;
    margin-bottom: 20px;
}

.row.section-header {
    margin: 75px 0px 50px 0px;
}

.home-bg {
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.home-bg.home-bg-alt {
    background-size: 100% auto;
}