html, body {
	font-family: 'Josefin Sans', serif;
	height: 100%;
	width: 100%;
}

.fullHeight {
	height: 100%;
	width: 100%;
}

.top-container {
	margin-top: 56px;
}

.benhoganbutton {
	color: purple;
	border-color: purple;
	font-weight: bold;
}

.benhoganbutton:hover{
	color: white;
	background-color: purple;
	font-weight: bold;
}