h1.heading {
	padding-bottom: 15px;
	margin-bottom: 20px;
	border-bottom: 1px solid black;
}

img.boat-img {
	width: 75%;
	margin-bottom: 30px;
}

.close {
	color: white;
	font-size: 2rem;
}

.card {
	transition: 0.2s;
	border: none;
	padding: 5px;
}
.card:hover {
	box-shadow: 0 0 30px #ccc;
}

.boat-card {
	width: 300px;
}