{% extends 'boats/base.html' %}
{% load static %}

{% block main_content %}

<div class='container top-container'>
  <div class="row">
    <div class="col-4 offset-md-4 text-center">
      <h2 class="mt-4">Add New Boat</h2>
    </div>
  </div>
  <form action="{% url 'boat_post_form' %}" enctype="multipart/form-data" method="post">
    <div class="form-group row mb-3 pt-4">
      <div class="col-12 col-md-2 offset-md-3 text-md-right">
        <label for="boat" class="form-label">Boat Model</label>
      </div>
      <div class="col-12 col-md-3">
        <div>{% csrf_token %} {{form.name}}</div>
      </div>
    </div>
    <div class="form-group row mb-3 pt-4">
      <div class="col-12 col-md-2 offset-md-3 text-md-right">
        <label for="boat" class="form-label">Description</label>
      </div>
      <div class="col-12 col-md-3">
        <div>{% csrf_token %} {{form.description}}</div>
      </div>
    </div>
    <div class="form-group row mb-3 pt-4">
      <div class="col-12 col-md-2 offset-md-3 text-md-right">
        <label for="boat" class="form-label">Upload Image</label>
      </div>
      <div class="col-12 col-md-3">
        <div>{% csrf_token %} {{form.image}}</div>
      </div>
    </div>
    <div class="form-group row mb-3 pt-4">
      <div class="col-12 col-md-2 offset-md-3 text-md-right">
        <label for="boat" class="form-label">Daily Price</label>
      </div>
      <div class="col-12 col-md-3">
        <div>{% csrf_token %} {{form.dayPrice}}</div>
      </div>
    </div>
    <div class="form-group row mb-3 pt-4">
      <div class="col-12 col-md-2 offset-md-3 text-md-right">
        <label for="boat" class="form-label">Weekly Price</label>
      </div>
      <div class="col-12 col-md-3">
        <div>{% csrf_token %} {{form.weekPrice}}</div>
      </div>
    </div>
    <div class="form-group row mb-3 pt-4">
      <div class="col-12 col-md-2 offset-md-3 text-md-right">
        <label for="boat" class="form-label">Horsepower</label>
      </div>
      <div class="col-12 col-md-3">
        <div>{% csrf_token %} {{form.hp}}</div>
      </div>
    </div>
    <div class="form-group row mb-3 pt-4">
      <div class="col-12 col-md-2 offset-md-3 text-md-right">
        <label for="boat" class="form-label">Boat Capacity</label>
      </div>
      <div class="col-12 col-md-3">
        <div>{% csrf_token %} {{form.capacity}}</div>
      </div>
    </div>
    <div class="form-group row mb-3 pt-4">
      <div class="col-12 col-md-2 offset-md-5">
        <button type="submit" class="btn btn-primary w-100">Create Listing</button>
      </div>
    </div>
    
  </form>
</div>

{% endblock %}