{% extends 'base.html' %}

{% load static %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'boats/css/calendar.css' %}">
{% endblock %}
{% block main_content %}
<div class="container top-container">
	<div class="row pt-4">
		<div class="col-12">
			<h1 class="text-center">Rental Management</h1>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-12">
			<h2>Pending Requests</h2>
		</div>
	</div>
	<div class="row">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Email</th>
					<th>Phone</th>
					<th>Item</th>
					<th>Start Date</th>
					<th>End Date</th>
					<th>Actions</th>
				</tr>
			</thead>
			{% if unconfirmed_empty %}
			<tr>
					<td><a class="btn btn-outline-success" href="{% url 'staff_create_booking_view' %}">Add New Booking</a></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</table>
		</div>
			<div class="row">
				<div class="col-12 d-flex justify-content-center">
					<span>No pending requests</span>
				</div>
			</div>
			{% else %}
			{% for booking in unconfirmed %}
			<tbody>
				<tr>
					<td>{{ booking.user.get_full_name }}</td>
					<td>{{ booking.user }}</td>
					<td>{{ booking.user.get_phone }}</td>
					<td>{{ booking.rentalItem }}</td>
					<td>{{ booking.startDay }}</td>
					<td>{{ booking.endDay }}</td>
					<td class="btn-group">
						<a class="btn btn-success text-white" href="{% url 'confirm_booking' booking.pk %}">Confirm</a>
						<a class="btn btn-outline-warning">Edit</a>
						<a class="btn btn-outline-danger" href="{% url 'staff_delete_booking' booking.pk %}">Cancel</a></td>
				</tr>
				{% endfor %}
				<tr>
					<td><a class="btn btn-outline-success">Add New Booking</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	{% endif %}
	<div class="row pt-4">
		<a class="btn btn-outline-secondary" href="{% url 'calendar' %}?{{ prev_month }}">Previous Month</a>
		<a class="btn btn-outline-primary" href="{% url 'calendar' %}?{{ next_month }}"> Next Month </a>
	</div>
	<div class="row mt-4">
		{{ calendar }}
	</div>
</div>
{% endblock %}