{% extends 'base.html' %}

{% load static %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'boats/css/calendar.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
{% endblock %}
{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
<script src="{% static 'boats/js/manage_bookings.js' %}"></script>
{% endblock %}
{% block main_content %}
<div class="container top-container">
	<div class="row pt-4">
		<div class="col-12">
			<h1 class="text-center">Rental Management</h1>
		</div>
	</div>
	<hr>
	<div class="row">
		<h2>Pending Requests</h2>
	</div>
	<div class="row">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Email</th>
					<th>Phone</th>
					<th>Item</th>
					<th>Start Date</th>
					<th>End Date</th>
					<th>Actions</th>
				</tr>
			</thead>
			{% if unconfirmed_empty %}
			<tr>
					<td><a class="btn btn-outline-success" href="{% url 'staff_create_booking_view' %}">Add New Booking</a></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</table>
		</div>
			<div class="row">
				<div class="col-12 d-flex justify-content-center">
					<span>No pending requests</span>
				</div>
			</div>
			{% else %}
			<tbody>
			{% for booking in unconfirmed %}
				<tr booking_id="{{booking.pk}}">
					<td>{{ booking.user.get_full_name }}</td>
					<td>{{ booking.user.get_email }}</td>
					<td>{{ booking.user.get_phone }}</td>
					<td>{{ booking.rentalItem }}</td>
					<td>{{ booking.startDay }}</td>
					<td>{{ booking.endDay }}</td>
					<td class="btn-group">
						<a class="btn btn-success text-white booking-view-btn" conf_url="{% url 'confirm_booking' booking.pk %}">View</a>
						<a class="btn btn-outline-danger" href="{% url 'staff_delete_booking' booking.pk %}">Cancel</a></td>
				</tr>
				{% endfor %}
				<tr>
					<td><a class="btn btn-outline-success" href="{% url 'staff_create_booking_view' %}">Add New Booking</a></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>
	{% endif %}
	<div class="row mt-4">
		<h2>Confirmed Rentals</h2>
	</div>
	<div class="row tabs">
		<div class="col-12">
			<button class="view-toggle" value="cal">Calendar View</button>
			<button class="view-toggle" value="list">List View</button>
		</div>
	</div>
	<div id="calendar-view" class="toggle-sect container">
		<div class="row justify-content-between mb-4">
			<a class="btn btn-outline-secondary" href="{% url 'calendar' %}?{{ prev_month }}">&#8592;&nbsp;Previous Month</a>
			<a class="btn btn-outline-primary" href="{% url 'calendar' %}?{{ next_month }}">Next Month&nbsp;&#8594;</a>
		</div>
		<div class="row">
			{{ calendar }}
		</div>
	</div>
	<div id="list-view" class="toggle-sect">
		{% csrf_token %}
		<table id="confirmed-bookings-table" data-source="{% url 'get_confirmed' %}" ajax-delete="{% url 'staff_delete_booking_ajax' %}">
			<thead>
				<tr>
					<th>Name</th>
					<th>Email</th>
					<th>Phone</th>
					<th>Item</th>
					<th>Start Date</th>
					<th>End Date</th>
					<th>Price</th>
					<th>Actions</th>
				</tr>
			</thead>
		</table>
	</div>
</div>

<!-- MODAL -->
<div id="view-booking-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">View Rental Request</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row mb-4">
        	<div class="col-4 d-flex justify-content-end">
        		<span class="font-weight-bold">Customer</span>
        	</div>
        	<div class='col-6'>
        		<p id="booking-user-name"></p>
        	</div>
        </div>
        <form id="booking-confirm-form" action="" method="post">
	        <div class="row mb-4">
	        	<div class="col-4 d-flex justify-content-end">
	        		<span class="font-weight-bold">Rental Item</span>
	        	</div>
	        	<div class='col-6'>
	        		{% csrf_token %}
	        		{{ rental_confirm_form.rentalItem }}
	        	</div>
	        </div>
	        <div class="row mb-4">
	        	<div class="col-4 d-flex justify-content-end">
	        		<span class="font-weight-bold">Start Day</span>
	        	</div>
	        	<div class='col-6'>
	        		{% csrf_token %}
	        		{{ rental_confirm_form.startDay }}
	        	</div>
	        </div>
	        <div class="row mb-4">
	        	<div class="col-4 d-flex justify-content-end">
	        		<span class="font-weight-bold">End Day</span>
	        	</div>
	        	<div class='col-6'>
	        		{% csrf_token %}
	        		{{ rental_confirm_form.endDay }}
	        	</div>
	        </div>
	        <div class="row mb-4">
	        	<div class="col-4 d-flex justify-content-end">
	        		<span class="font-weight-bold">Price $</span>
	        	</div>
	        	<div class='col-6'>
	        		{% csrf_token %}
	        		{{ rental_confirm_form.price }}
	        	</div>
	        </div>
	      </div>
	      <div class="modal-footer">
	        <button type="submit" class="btn btn-success">Confirm</button>
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	      </div>
	  </form>
    </div>
  </div>
</div>
{% endblock %}