{% extends 'boats/base.html' %}
{% load static %}

{% block main_content %}

<div class='container top-container pt-4'>
	<div class='row' style='padding-left: 50px;'>
		<div class='col-12'>
			<h1>Events</h1>
		</div>
        <h5 style='margin-top: 20px; margin-left: 30px;'>Filter:</h5>
        <a href="{% url 'events_filter' event_id='Sports' %}" style='margin-left: -50px; margin-top: 60px; position: relative;' type="button" class="btn btn-outline-primary">Sports</a>
        <a href="{% url 'events_filter' event_id='Arts' %}" style='margin-left: 10px; margin-top: 60px; position: relative;' type="button" class="btn btn-outline-warning">Arts</a>
        <a href="{% url 'events_filter' event_id='Food' %}" style='margin-left: 10px; margin-top: 60px; position: relative;' type="button" class="btn btn-outline-success">Food</a>
        <a href="{% url 'events_filter' event_id='NA' %}" style='margin-left: 10px; margin-top: 60px; position: relative;' type="button" class="btn btn-outline-secondary">All</a>
	</div>

    <div class='row' style="margin-top: 20px; margin-left: 60px;">
        {% for event in events %}
        <div class="list-group" style='margin-bottom: 10px;'>
            <div class="list-group-item list-group-item-action" aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">
                    {{ event.name }} 
                    {% if  event.category == 'Sports' %}
                    <span class="badge rounded-pill bg-primary" style="margin-left: 10px; color: aliceblue;">
                        {{ event.category }}
                    </span>
                    {% elif event.category == 'Arts'%}
                    <span class="badge rounded-pill bg-warning" style="margin-left: 10px; color: aliceblue;">
                        {{ event.category }}
                    </span>
                    {% else %}
                    <span class="badge rounded-pill bg-success" style="margin-left: 10px; color: aliceblue;">
                        {{ event.category }}
                    </span>
                    {% endif %}
                </h5> 
                <div>
                    <div style="margin-right: 10px;">{{ event.date }} | {{ event.startTime }} - {{ event.endTime }}</div>
                    <div></div>
                </div>
                </div>
                <p class="mb-1">{{ event.description }}</p>
                <hr>
                <!-- interests 
                % url 'events_filter' event_category=event.category event_pk=event.pk %}" -->
                <a href="{% url 'events_interested' event_id=event.pk %}" type="submit" class="btn btn-primary">
                    Interested!  
                    <span style="margin-left: 8px; color: rgb(126, 124, 124);" class="badge rounded-pill bg-light">{{ event.Interested }}</span>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}

