{% extends 'boats/base.html' %}
{% load static %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'boats/main.css' %}">
{% endblock %}

{% block main_content %}

<div class='row align-items-center justify-content-center h-50'
        style = "position:relative; top:100px">
    <form action="{% url 'item_rental_form' %}"
        method="post">
        <div class="mb-3">
          <label for="boat" class="form-label">Boat Model</label>
          <div>{% csrf_token %} {{form.name}}</div>
          <div id="boatHelp" class="form-text" style="color:lightgray">e.g. Sea Doo Spark</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputDescription" class="form-label">Description</label>
          <div>{% csrf_token %} {{form.description}}</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputDayPrice" class="form-label">Day Price</label>
            <div>{% csrf_token %} {{form.dayPrice}}</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputWeekPrice" class="form-label">Week Price</label>
            <div>{% csrf_token %} {{form.weekPrice}}</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputHP" class="form-label">Horsepower</label>
            <div>{% csrf_token %} {{form.hp}}</div>
        </div>
        <div class="mb-3">
            <label for="boat" class="form-label">Capacity</label>
            <div>{% csrf_token %} {{form.capacity}}</div>
            <div id="boatHelp" class="form-text" style="color:lightgray">How many people can fit in your boat?</div>
          </div>
        <button type="submit" class="btn btn-primary">Create Listing</button>
      </form>
</div>

{% endblock %}