{% extends 'base.html' %}

{% block main_content %}


<div class='container top-container pt-4'>
	<div class="row pt-4">
		<div class="col-12">
			<h2>Manage Fleet</h2>
		</div>
	</div>
	<div class="row">
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Item</th>
					<th scope="col">Daily Price</th>
					<th scope="col">Weekly Price</th>
					<th scope="col">Capacity</th>
					<th scope="col">Horsepower</th>					
					<th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for item in boatList %}
					<tr>
						<td scope="col">{{item.name}}</td>
						<td scope="col">${{item.dayPrice}}</td>
						<td scope="col">${{item.weekPrice}}</td>
						<td scope="col">{{item.capacity}}</td>
						<td scope="col">{{item.hp}}</td>
						<td scope="col"><a class="btn btn-danger" href="">Delete</a></td>
					</tr>
				{% endfor %}
				<tr>
					<td><a class="btn btn-success" href="{% url 'boat_post_form' %}">+ Add Boat</a></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
</div>
</div>



{% endblock %}