{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'boats/css/rentals.css' %}">
{% endblock %}

{% block scripts %}
<script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous"></script>
<script src="{% static 'boats/js/water.js' %}"></script>
{% endblock %}

<div></div>
<div></div>

{% block main_content %}

<div class="container-img">
    <img class="title-img" src="{% static 'images/spark.png' %}">
    <div>
        <div class='centered title-top'>Our Fleet</div>
    </div>
</div>

<div class='container pt-4'>
	<div class='row'>
		{% for boat in boats %}
		<div class="col-12 col-md-4 mb-4">
			<div class="card h-100 animated animatedEarly">
				<img src="{{ boat.image.url }}" class="img-card" alt="Boat">
				<div class="card-body d-flex flex-column justify-content-end">
					<div class="row">
						<div class="col-12">
							<h5 class="card-title text-center">{{ boat.name }}</h5>
						</div>
					</div>
					<div class="row justify-content-center">
						<!-- Button trigger modal -->
						<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#booking-modal-{{boat.pk}}">
							Request Now
						</button>
					</div>
				</div>
			</div>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="booking-modal-{{boat.pk}}" tabindex="-1" role="dialog" aria-labelledby="booking-modal-{{boat.pk}}" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<form action="{% url 'book_boat' boat_id=boat.pk%}" method="post">
					<div class="modal-content">
						<div class="modal-header">
						<h2 class="modal-title">{{boat.name}}</h2>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						</div>
						<div class="modal-body">
							<div class="row justify-content-center">
								<img class="boat-img" src="{{ boat.image.url }}" alt="Boat">
							</div>
							<div class="row">
								<div class="col-12">
									<p>{{boat.description}}</p>
								</div>
							</div>
							<div class="row">
								<div class="col-3">
									<b>Daily Price:</b>
								</div>
								<div class="col-4">
									${{boat.dayPrice}}
								</div>
							</div>
							<div class="row">
								<div class="col-3">
									<b>Weekly Price:</b>
								</div>
								<div class="col-4">
									${{boat.weekPrice}}
								</div>
							</div>
							<hr>
							<!-- Calender plugin for booking dates -->
							<h4>Select Dates</h4>

							<div class="form-group row">
								<div class="col-12">
									{% csrf_token %}
									{{ form.startDay }}
									{{ form.endDay }}
								</div>
							</div>

						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							<input type="submit" class="btn btn-primary" value="Request">
						</div>
					</div>
				</form>
			</div>
		</div>
		{% endfor %}
	</div>
</div>


{% endblock %}

