{% extends 'base.html' %}

{% load static %}
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'pages/css/food.css' %}">
{% endblock %}
{% block main_content %}

<div class="container-img">
    <img class="title-img mobile-img" src="{% static 'images/activities.JPG' %}">
    <div>
        <div class='centered title-top title-dark'>Activities</div>
    </div>
</div>
<div class="container content-sect">
	<div class="row no-gutters">
		<div class="col-12 d-flex justify-content-center flex-column align-items-center">
			<img style="height: 12em;" src="{% static '/images/tpb-logo-c.png' %}">
			<h2>Kennisis Lake Pickleball and Tennis Association</h2>
		</div>
	</div>
	<div class="row pt-4 no-gutters">
		[Content]
	</div>
</div>
<div class="container-fluid container-dark">
	<div class="row feature-text justify-content-center">
		<div class="col-12 d-flex flex-column justify-content-center align-items-center">
			<h2 class="text-white">Become a Member Today!</h2>
			<a href='#' class="btn btn-light">Join Now</a>
		</div>
	</div>
</div>
{% endblock %}