{% extends 'base.html' %}

{% load static %}
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'pages/css/food.css' %}">
{% endblock %}
{% block main_content %}

<div class="container-img">
    <img class="title-img mobile-img" src="{% static 'images/activities.JPG' %}">
    <div>
        <div class='centered title-top title-dark'>Activities</div>
    </div>
</div>
<div class="container content-sect">
	<div class="row no-gutters border-bottom pb-4">
		<div class="col-12 d-flex justify-content-center flex-column align-items-center">
			<img class="mb-4" style="height: 12em;" src="{% static '/images/tpb-logo-c.png' %}">
			<h5 class="text-center">The association of recreational Pickleball and Tennis players from Kennisis and Redstone Lake area.</h5>
		</div>
	</div>
	<div class="row mt-5 mb-5 no-gutters justify-content-center">
		<h1 class="text-center">What We Do</h1>
	</div>
	<div class="row mb-5">
		<div class="col-md-3 col-12 d-flex justify-content-md-end justify-content-center">
			<img style="height: 6em;" src="{% static 'pages/images/tennis-ball.png' %}"></img>
		</div>
		<div class="col-md-8 col-12">
			<h3 class="text-center text-md-left">2 Pickleball Courts & 1 Tennis Court</h3>
			<p>Located at Haliburton Forest & Wildlife Reserve</p>
		</div>
	</div>
	<div class="row mb-5">
		<div class="col-md-3 col-12 d-flex justify-content-md-end justify-content-center">
			<span class="fa fa-globe"></span>
		</div>
		<div class="col-md-8 col-12">
			<h3 class="text-center text-md-left">Book court time online with the Member Booking System.</h3>
		</div>
	</div>
	<div class="row mb-5">
		<div class="col-md-3 col-12 d-flex justify-content-md-end justify-content-center">
			<span class="fa fa-user-friends"></span>
		</div>
		<div class="col-md-8 col-12">
			<h3 class="text-center text-md-left">Join scheduled drop-in sessions to play, socialize, and have fun with other members.</h3>
		</div>
	</div>
</div>
<div class="container-fluid container-dark">
	<div class="row feature-text justify-content-center">
		<p class="accent mb-4">Coming Soon</p>
		<div class="col-12 d-flex flex-column justify-content-center align-items-center">
			<h2 class="text-white text-center">4-Court Pickleball-Only Facility At Kennisis Lake Marina</h2>
			<p class="text-white">Opening Early July</p>
		</div>
	</div>
</div>
<div class="container">
	<div class="row section-header flex-column align-items-center">
		<h1>We Want YOU</h1>
		<p class="mb-5">Contact <b>Susan Marlow</b> to join or request information:<br>Email: <a href="mailto:membershipKLPTA@gmail.com">membershipKLPTA@gmail.com</a></p>
		<h3>Already a Member?</h3>
		<a class="btn btn-success" href="https://hftc-booking.web.app">Login</a>
	</div>
</div>
{% endblock %}