{% extends 'base.html' %}
{% load static %}
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'pages/css/contact.css' %}">
{% endblock %}

{% block scripts %}
<script src="{% static 'pages/js/contact.js' %}"></script>
{% endblock %}

{% block main_content %}

<div class="container-img">
    <img class="title-img mobile-img" src="{% static 'images/contact.png' %}">
    <div>
        <div class='centered title-top title-dark'>Contact us</div>
    </div>
</div>
<div class="container mt-4 pb-5">
	<div class="row no-gutters mt-4">
		<div class="col-md-6 mb-4 col-12 d-flex flex-column align-items-center">
			<h3 class="animated animatedFadeInUp">Hours of Operation</h3>
			<div id="hours-widget" class="animated animatedFadeInUp">
				<div class="row no-gutters button-row">
					{% for store in stores %}
					<div class="col-4 m-0">
						{% if store.name == default %}
							{% if forloop.first %}
								<button value="{{store.name}}" class="selected start toggle-button">{{store.name}}</button>
							{% elif forloop.last %}
								<button value="{{store.name}}" class="selected end toggle-button">{{store.name}}</button>
							{% else %}
								<button value="{{store.name}}" class="selected toggle-button">{{store.name}}</button>	
							{% endif %}					
						{% else %}
							{% if forloop.first %}
								<button value="{{store.name}}" class="start toggle-button">{{store.name}}</button>
							{% elif forloop.last %}
								<button value="{{store.name}}" class="end toggle-button">{{store.name}}</button>
							{% else %}
								<button value="{{store.name}}" class="toggle-button">{{store.name}}</button>	
							{% endif %}	
						{% endif %}
					</div>
					{% endfor %}
				</div>
				<div class="row hours-content">
					<div class="col-6 d-flex flex-column daylist">
						<span>Monday</span>
						<span>Tuesday</span>
						<span>Wednesday</span>
						<span>Thursday</span>
						<span>Friday</span>
						<span>Saturday</span>
						<span>Sunday</span>
					</div>
					{% for store in stores %}
					{% if store.name == default %}
					<div name="{{store.name}}" class="col-6 d-flex flex-column hours-col selected">
					{% else %}
					<div name="{{store.name}}" class="col-6 d-none flex-column hours-col">
					{% endif %}
						<span>{{store.monday}}</span>
						<span>{{store.tuesday}}</span>
						<span>{{store.wednesday}}</span>
						<span>{{store.thursday}}</span>
						<span>{{store.friday}}</span>
						<span>{{store.saturday}}</span>
						<span>{{store.sunday}}</span>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="col-md-6 col-12 d-flex flex-column justify-content-center">
			<h4>Phone: <a href="tel:7057542352">705-754-2352</a></h4>
			<p>Email: <a href="mailto:kennisismarinaltd@gmail.com">kennisismarinaltd@gmail.com</a></p>
			<p>Store Location: <a href="https://www.google.com/maps/place/1076+Wilkinson+Rd,+Dysart+et+al,+ON+K0M+1S0/@45.2220497,-78.6039038,17z/">1076 Wilkinson Rd, Dysart et al, Ontario</a></p>
		</div>
	</div>
</div>


{% endblock %}