{% extends 'base.html' %}

{% load static %}
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'pages/css/food.css' %}">
{% endblock %}
{% block main_content %}

<div class="container-img">
    <img class="title-img mobile-img" src="{% static 'images/eat.png' %}">
    <div>
        <div class='centered title-top title-dark'>Food</div>
    </div>
</div>
<div class="container content-sect">
	<div class="row no-gutters justify-content-center">
		<h2>Our Offerings</h2>
	</div>
	<div class="row pt-4 no-gutters">
		<div class="col-12 col-md-3">
			<div class="food-block">
				<div class="animated animatedFadeInUp d-flex flex-column justify-content-start align-items-center h-100">
					<span class="fa fa-ice-cream fa-5x"></span>
					<h3>Ice Cream</h3>
					<p class="text-center">Legendary Kawartha Dairy</p>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-3">
			<div class="food-block">
				<div class="animated animatedFadeInUp d-flex flex-column justify-content-start align-items-center h-100">
					<span class="fa fa-blender fa-5x"></span>
					<div class="d-flex flex-row"><h3>Smoothies</h3>&nbsp;<h5><span class="badge badge-success">NEW</span></h5></div>
					<p class="text-center">Made with real fruit!</p>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-3">
			<div class="food-block">
				<div class="animated animatedFadeInUp d-flex flex-column justify-content-start align-items-center h-100">
					<span class="fa fa-coffee fa-5x"></span>
					<div class="d-flex flex-row mb-0"><h3>Coffee</h3>&nbsp;<h5><span class="badge badge-success">NEW</span></h5></div>
					<p class="text-center">Cappuccinos and lattes by the lake!</p>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-3">
			<div class="food-block">
				<div class="animated animatedFadeInUp d-flex flex-column justify-content-start align-items-center h-100">
					<span class="fa fa-utensils fa-5x"></span>
					<h3>The Saucey Pig</h3>
					<p class="text-center">Pulled pork, hot dogs and more!</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid container-dark">
	<div class="row feature-text justify-content-center">
		<h2 class="text-white">Visit the newly renovated ice-cream bar!</h2>
	</div>
</div>
{% endblock %}