{% extends 'base.html' %}
{% load static %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
{% endblock %}

{% block main_content %}

<div class="container-img">
    <img class="title-img mobile-img" src="{% static 'images/services.png' %}">
    <div class='centered title-dark title-top '>
		Services
		<a class="text-white underline" href="tel:7057542352"><h3>(Call 705-754-2352)</h3></a>
	</div>
</div>

<div class="container pt-4">
	<div class="row">
		<div class="col-sm-6 pt-3">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Boat Storage</h5>
					<hr>
					<p class="card-text">We offer Boat storage during the winter and summer seasons!</p>	
				</div>
			</div>
		</div>
		<div class="col-sm-6 pt-3">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Boat Slips</h5>
					<hr>
					<p class="card-text">Boat slips are available during May, June, July, and August.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row pt-4">
		<div class="col-sm-6 pt-sm-3">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Mechanics</h5>
					<hr>
					<p class="card-text">We have 2 trained mechanics available 6 days per week.</p>
				</div>
			</div>
		</div>
		<div class="col-sm-6 pt-3">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Self Storage</h5>
					<hr>
					<p class="card-text">You can also store your own boats!</p>
				</div>
			</div>
		</div>
	</div>

		
</div>

{% endblock %}