<!-- Footer -->
<footer class="mt-4 bg-light text-lg-start">
	<!-- Grid container -->
	<div class="container p-3">

	  <div class="mt-4 row justify-content-center" style="color: rgb(180, 181, 182);">
			Thanks for visiting! &#128515;
	  </div>
	  <div class="row mt-2 justify-content-center" style="color: rgb(180, 181, 182);">
	  	<p class="text-center">Custom Web Creation by <a href="https://linkedin.com/in/jaysondale">Jayson Dale</a> and <a href='https://linkedin.com/in/charlie-mackie-749ba314b'>Charlie Mackie</a></p>
	  </div>

	  <hr style="width:50%">

	  <!--Grid row-->

		<!--Grid column-->
		<!--Grid column-->
  
		<!--Grid column-->
		<!--
			space out the links in their own col each, the stack them when screen gets smaller
		-->

		<div class='col-1 m-3'>
			<h5 class="text">Links </h5>
		</div>
		
		<div class="row ml-3 mr-3 mb-3"> 

			<div class='col-12 col-md-6 col-lg-1'>
				<a href="{% url 'store' %}" class="text-dark">Store</a>
			</div>

			<div class='col-12 col-md-6 col-lg-1'>
				<a href="{% url 'food' %}" class="text-dark">Food</a>
			</div>

			<div class='col-12 col-md-6 col-lg-1'>
				<a href="{% url 'services' %}" class="text-dark">Services</a>
			</div>

			<div class='col-12 col-md-6 col-lg-1'>
				<a href="{% url 'contact' %}" class="text-dark">Contact</a>
			</div>

			<div class='col-12 col-md-6 col-lg-1'>
				<a href="{% url 'events' %}" class="text-dark">Events</a>
			</div>

		</div>

		<div class="text-center mt-4">
			<!-- Add font awesome icons -->
			<a style="color:black;" class="mr-2" href="https://www.facebook.com/Kennisis-Lake-Marina-Storage-996768340499077/"><i class="fab fa-facebook fa-2x"></i></a>
			<a style="color:black;" href="https://www.instagram.com/kennisislakemarina/"><i class="fab fa-instagram fa-2x"></i></a>
		</div>
		<!--Grid column-->
	  </div>
	  <!--Grid row-->

	<!-- Grid container -->
  
	<!-- Copyright -->
	<div class="text-center p-3" style="background-color: rgba(230, 230, 230, 0.65);">
	  © 2021 
	  <a class="text-dark">Kennisis Lake Marina</a>
	</div>
	<!-- Copyright -->
</footer>
<!-- Footer --> 