{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <img src="{% static 'images/logo-dark.svg' %}" width="80px" height="80px" class="d-inline-block align-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav mr-auto main-nav">
            <a class="nav-item nav-link active" href="{% url 'main' %}">HOME <span class="sr-only">(current)</span></a>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" id="marina-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    MARINA
                </a>
                <div class="dropdown-menu" aria-labelledby="marina-dropdown">
                    <a class="dropdown-item" href="{% url 'water_activities' %}">VIEW RENTALS</a>
                    <a class="dropdown-item" href="{% url 'bookings' %}">MY BOOKINGS</a>
                    <a class="dropdown-item" href="{% url 'services' %}">SERVICE & STORAGE</a>
                </div>
            </li>
            <a class="nav-item nav-link" href="{% url 'store' %}">APPAREL</a>
            <a class="nav-item nav-link" href="#">FOOD & DRINK</a>
            <a class="nav-item nav-link" href="{% url 'activities' %}">PICKLEBALL</a>
            <a class="nav-item nav-link" href="{% url 'contact' %}">CONTACT</a>
        </div>
        <div class="navbar-nav">
            <button class="btn btn-outline-secondary nav-button">LOGIN</button>
            <a class="nav-item nav-link" href="#">SIGN UP</a>
        </div>
    </div>
</nav>