{% extends 'base.html' %}
{% load static %}

{% block main_content %}

<div class='container top-container pt-5'>
	<div class='row'>
		<div class='col text-md-left text-center'>
			<h1>Events</h1>
		</div>
        {% if user.is_staff %}
        <div class='col text-md-right text-center'>
			<a class="btn btn-primary" href="{% url 'add_event' %}" role="button">Add Event</a>
		</div>
        {% endif %}
    </div>
    
    <div class='row pt-4'>
        <div class='col d-flex justify-content-center'>
            <div style='font-size: 20pt '>Filter:</div>
        </div>
        <div class='col'>
            <a href="{% url 'events_filter' event_id='Sports' %}" type="button" class="btn btn-outline-primary w-100">Sports</a>
        </div>
        <div class='col'>
             <a href="{% url 'events_filter' event_id='Arts' %}" type="button" class="btn btn-outline-warning w-100">Arts</a>
        </div>
        <div class='col'>
           <a href="{% url 'events_filter' event_id='Food' %}" type="button" class="btn btn-outline-success w-100">Food</a>
        </div>
        <div class='col'>
            <a href="{% url 'events_filter' event_id='NA' %}" type="button" class="btn benhoganbutton w-100">All</a>
        </div>
    </div>
        
	

    <div class='row' style="margin-top: 20px; margin-left: 60px;">
        {% for event in events %}
        <div class="list-group" style='margin-bottom: 10px;'>
            <div class="list-group-item list-group-item-action" aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">
                    {{ event.name }} 
                    {% if  event.category == 'Sports' %}
                    <span class="badge rounded-pill bg-primary" style="margin-left: 10px; color: aliceblue;">
                        {{ event.category }}
                    </span>
                    {% elif event.category == 'Arts'%}
                    <span class="badge rounded-pill bg-warning" style="margin-left: 10px; color: aliceblue;">
                        {{ event.category }}
                    </span>
                    {% else %}
                    <span class="badge rounded-pill bg-success" style="margin-left: 10px; color: aliceblue;">
                        {{ event.category }}
                    </span>
                    {% endif %}
                </h5> 
                <div>
                    <div style="margin-right: 10px;">{{ event.date }} | {{ event.startTime }} - {{ event.endTime }}</div>
                    <div></div>
                </div>
                </div>
                <p class="mb-1">{{ event.description }}</p>
                <hr>
                <!-- interests 
                % url 'events_filter' event_category=event.category event_pk=event.pk %}" -->
                <a href="{% url 'events_interested' event_id=event.pk %}" type="submit" class="btn btn-primary">
                    Interested!  
                    <span style="margin-left: 8px; color: rgb(126, 124, 124);" class="badge rounded-pill bg-light">{{ event.Interested }}</span>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}

