.fa {
	color: grey;
	font-size: 100px;
}

.food-block {
	transition: 0.2s ease-in-out;
	border-radius: 10px;
	height: 300px;
}

.food-block:hover{
	-webkit-box-shadow: 5px 5px 15px 0px #333333; 
	box-shadow: 5px 5px 15px 0px #333333;
}

.food-block:hover .fa-ice-cream {
	color: pink;
}

.food-block:hover .fa-blender {
	color: #03c6fc;
}

.food-block:hover .fa-coffee {
	color: #ba7c00;
}

.food-block:hover .fa-utensils {
	color:#ff4000;
}